:root {
    --dark-color: #19283f;
    --primary-color: #2074FF;
    --sec-color: #4904E9;
}

hr {
    width: 25%;
    border: none;

    border-bottom: #fff 5px dashed;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

section {
    padding: 100px 200px;

}

/* start navbar */
.navbar {
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: large;
    color: white;
}

.navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    color: white;
    font-size: 25px;
    border-color: var(--primary-color);
}

.logo {
    font-size: xx-large;
    text-transform: capitalize;

}

.logo::first-letter {
    padding: 5px;
    margin-right: 5px;
    background-color: #2074FF;
    border-radius: 2px;
    font-size: xx-large;
    box-shadow: 0 0 10px var(--sec-color);
}

/* end navbar */

/* start main */


/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

/* Main styles */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse 0.92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    background-attachment: fixed;

}

.main img {
    position: relative;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.main h1 {
    font-size: 200px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 28%;
    z-index: 2;
    -webkit-text-stroke: 2px var(--dark-color);
    cursor: default;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.main h2 {
    font-size: 200px;
    font-weight: bolder;
    color: #fff;
    position: absolute;
    bottom: 18%;
    right: 20%;
    z-index: 0;
    -webkit-text-stroke: 2px var(--dark-color);
    cursor: default;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}


.main p {
    color: #c7c7c7;
    font-size: 1cm;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: default;

}

/* end main */
/* start about */
/* .about img{
width: 100%;
transition: .5s ease-in;
position: absolute;
top: 30px;
left: 30px;
}
.about img:hover{
transform: translate(-6%,-6%);
position: absolute;
}
.about p{
    color: #c7c7c7;
    font-size: x-large;
}

.dashed{
    width: 80%;
    height: 100%;
    border: solid white 3px;
    position: relative;
} */

.about .card {
    width: 290px;
    height: 354px;
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
}

.about .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.about .card-avatar {
    --size: 60px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-avatar img {
    width: 100%;
    border-radius: 50%;
}

/*Card footer*/
.about .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.about .card-social__item {
    list-style: none;
}

.about .card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.about .card-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.about .card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

/*Hover*/
.about .card:hover {
    box-shadow: 0 8px 50px #23232333;
}

.about .card:hover .card-info {
    transform: translateY(-5%);
}

.about .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
}

.about .card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
}

.about .card-avatar:hover {
    transform: scale(1.1);
}

/* end about */
/* start-services */
.title {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

mark {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.card {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    color: white;
    width: 21.25em;

    box-shadow: 0 0 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: var(--primary-color);
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: var(--primary-color);
    font-size: 1.7em;
    font-weight: 700;
    margin: 10px;
}


/* end-services */

/* start-projects */
.projects {

    background-color: black;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.pexels.com/photos/7662056/pexels-photo-7662056.jpeg?auto=compress&cs=tinysrgb&w=1600);



}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background: rgba(255, 255, 255, 0.349);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    color: white;
    min-height: 12em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    cursor: pointer;
}

.project-card:hover {

    transform: scale(1.1);
}

.project-image img {
    width: 100%;

}

.project-card:hover .project-image {
    opacity: 0.8;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: white;
}

.project-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    font-size: small;
    text-decoration: none;
    color: var(--primary-color);
}

.more-details:hover {
    color: var(--secondary-color);
}

/* end-projects */

/* start-contact */
.content .icon {
    font-size: 4.5em;
}

.content .info h3 {
    color: #1050ff;

}

.content.info p {
    font-size: 1.5em;
}

.contact .card .info a {
    text-decoration: none;
    color: white;
}

/* end-contact */

/* start-footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    text-transform: capitalize;
    color: #4335ff;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 30px 0 0;
}

/* end-footer */


/* media */
@media (max-width:1023px) {
    header {
        padding: 5px 2px;
    }

    .navigation a {
        padding-left: 5px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 0.2em;
    }

    .main-content h3 {
        font-size: 1em;
    }

    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }


}

@media(max-width:900px) {
    body {
        font-size: 12px;
    }


    .main h1 {
        font-size: 150px;
        top: 20%;
        left: 5%;
    }

    .main h2 {
        font-size: 150px;
        bottom: 30%;
        right: 5%;
    }

    .main p {
        margin-top: 200px;
    }
}

@media(max-width:641px) {
    body {
        font-size: 12px;
    }

    .main img {
        width: 100%;
    }

    .main h1 {
        font-size: 150px;
        top: 20%;
        left: 5%;
    }

    .main h2 {
        font-size: 150px;
        bottom: 30%;
        right: 10%;
    }

    .main p {
        margin-top: 50px;
    }

    /* .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    /* header {
        justify-content: space-evenly;
    } */

}

@media(max-width:300px) {
    body {
        font-size: 10px;
    }

    .main h1 {
        font-size: 50px;
        top: 20%;
        left: 5%;
    }

    main h2 {
        font-size: 50px;
        top: 20%;
        left: 5%;
    }
}

/* animation */
.anim {
    opacity: 0;
    transform: scale(0.8);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    transform: scale(1);

}